<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>organizer.user.Table of Contents</key>
	<dict>
		<key>collectionUUID</key>
		<string>719700be-ccaa-4d99-b57f-6db10afaa2ea</string>
		<key>contents</key>
		<array/>
		<key>title</key>
		<string>Table of Contents</string>
	</dict>
</dict>
</plist>
