<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>lastEditingComputerName</key>
		<string>Squiddums</string>
		<key>lastEditingUserName</key>
		<string>Ian Beck</string>
		<key>shouldHighlightLinks</key>
		<false/>
		<key>skipOnExport</key>
		<true/>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2012-03-04T02:17:43Z</date>
	<key>dataHash</key>
	<string>314904ab360e5f1a354a30b4a7eaf452d218073f</string>
	<key>displayName</key>
	<string>VPJSPrefixScript</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>vpjsprefixscript</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2012-05-19T14:02:57Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>org.jstalk.jstalk-source</string>
	<key>uuid</key>
	<string>7a05976f-0d5c-4d64-a6dd-9b157324fcba</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
