<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Squiddums</string>
		<key>lastEditingUserName</key>
		<string>Ian Beck</string>
		<key>skipOnExport</key>
		<true/>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2012-03-03T01:08:20Z</date>
	<key>dataHash</key>
	<string>fdf26df27f194ea666b441b1444a6165239cd09d</string>
	<key>displayName</key>
	<string>VPNewPageTemplate</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>vpnewpagetemplate</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2012-03-03T01:08:47Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>net.daringfireball.markdown</string>
	<key>uuid</key>
	<string>5b0b715c-e271-4082-946d-5a90c981b5bf</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
